<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension="woff" />
            <remove fileExtension="woff2" />
            <mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect any path missing language info to /en/" stopProcessing="true">
				    <match url="(.*)" />
					<conditions>
					    <add input="{R:1}" pattern="^(en|jp)(/|$)" negate="true" />
					</conditions>
                    <action type="Redirect" redirectType="Found" url="en/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
          <remove statusCode="404" />   
          <error statusCode="404" path="en\404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>